#aboutfigure{
    width: 200;
    height: 200;
}

#topAbout{
    padding: 30px 30px;
    font-size: xx-large;
}

#aboutext{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 350px;
    margin-left: 50px;
    gap: 100px;
}

#textDiv{
    gap: 100px;
}

#logo{
    width: 250px;
    height: 250px;
    margin-right: 100px;
    float: right;
    margin-left: 100px;
}

.picCards{
    --bs-bg-opacity: 0;
    margin: 1.5em 7em 0em 7em;    
}