#text{
    margin-top: 50px;
    margin-left: 75px;
}

#pageTitle{
    font-size: xx-large;
    font-weight: bold;
}

#logo{
    width: 350px;
    height: 350px;
    margin-top: 10px;

}

.messageForm{
    padding-left: 75px;
    padding-right: 400px;
    padding-top: 0px;
}

#title{
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 25px;
}


textarea{
    margin:0px 0px;
    padding:5px;
    height:150px;
    line-height:50px;
    width:96%;
    display:block;
    margin:0px auto; 
}

.send button{
    width: 130px;
    height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 92%;
}